#
# This file is part of Python-AD. Python-AD is free software that is made
# available under the MIT license. Consult the file "LICENSE" that is
# distributed together with this file for the exact licensing terms.
#
# Python-AD is copyright (c) 2007-2008 by the Python-AD authors. See the
# file "AUTHORS" for a complete overview.

[test]

# The following setting can enable "expensive tests". Expensive tests are tests
# that can take a significant amount of time to complete.
expensive_tests = 1

# Some test in the Python-AD test suite require an Active Directory. These tests
# are disabled by default and can be enabled below. A great way of doing AD
# tests is to install an AD forest in one or multiple virtual machines on the
# current system, and connect the systems to a virtual network that is shared
# with the host. Be sure to enable DNS services in the forest. Then add a line
# to "/etc/resolv.conf" pointing to a DNS server in the new AD forest.  This is
# sufficient to start using AD tests.

# Set to 1 to enable tests that require read access to an active directory. All
# tests that become enabled by this setting are non-intrusive.
readonly_ad_tests = 0

# Change to the domain that is to be used for AD tests.
domain = freeadi.org

# The name of a non-privileges account in AD.
ad_user_account = <user>

# The password of the non-privileged account in AD.
ad_user_password = <password>


#                   WARNING !!! WARNING !!! WARNING !!!
#
# Python-AD has support for "intrusive tests". These tests require elevated
# privileges on the current system or in the directory, and may change
# system configurations and update or delete data.
#
# All intrusive tests are disabled by default. They can be enabled by
# settings the corresponding variables to "1" and providing the proper
# password in this configuration file. Two types of intrusive tests exist:
#
#  - Intrusive local tests. These tests can modify system configuration
#    files, update firewall settings and make other changes. The local root
#    password is required to run these tests.
#  - Intrusive AD tests. These tests can create / change / delete objects in
#    Active Directory. The AD administrator password is required to run
#    these tests.
#
# Intrusive tests should be in an environment that is not a production
# environment. A good candidate for such an environment would be a set of
# virtualised host running on a developer workstations which are connected
# to a host-only network. See the section above on AD tests on how to set up
# such an environment.
#
# Intrusive tests are written such that after running a set of tests the
# system will be in a state that allows running the tests again, and so on.
# In particular no restore from backup (or restore to snapshot in a virtual
# environment) is required after running the tests. It is not guaranteed
# however that after a running a set of tests the system will be in the same
# state as it was before the tests. This is the reason that intrusive tests
# should never be run in a production environment.

# Set to 1 to enable tests that require local admin (root) access, 0 to
# disable.
intrusive_local_tests = 0

# The local admin account
local_admin_account = root

# The password of the local admin account
local_admin_password = <password>

# Set to 1 to enable tests that require AD administrator access, 0 to
# disable.
intrusive_ad_tests = 0

# The AD administrator account
ad_admin_account = Administrator

# The AD administrator password
ad_admin_password = <password>
